<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% request.forEach(function(borrow) { %>
            <form action="/borrowHistory" method="POST">
                <input type="hidden" name="id" value="<%= borrow.RequestID %>">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="<%= borrow.title %>" disabled>
                <label for="author">Author:</label>
                <input type="text" name="author" id="author" value="<%= borrow.author %>" disabled>
                <label for="ReqDate">Request Date:</label>
                <input type="text" name="ReqDate" id="ReqDate" value="<%= borrow.RequestDate %>" disabled>
                <label for="AccDate">Accept Date:</label>
                <input type="text" name="AccDate" id="AccDate" value="<%= borrow.AcceptDate %>" disabled>
                <button type="submit">Return</button>
            </form>
        <% }); %>
    </ul>
</body>
</html>