<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% books.forEach(function(book) { %>
            <li>Id: <%= book.id %>, Title: <%= book.title %>, Author: <%= book.author %>, Genre: <%= book.genre %>, Quantity: <%= book.quantity %></li>
        <% }); %>
    </ul>
    <div>
        <form action="/listbooks" method="POST">
            <label for="id">Which book would you like to update?</label>
            <input type="text" id="id" name="id">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>