<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    The selected book is:
    Id: <%= book.id %>, Title: <%= book.title %>, Author: <%= book.author %>
    <form action="/updatebooks" method="POST">
        <input type="hidden" name="id" value="<%= book.id %>">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= book.title %>">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%= book.author %>">
        <button type="submit">Update</button>
    </form>
</body>
</html>